{% extends 'form.html' %}

{% block form %}
<form method="post" action="/home/customer/submit/" class="basic-grey">
    {% csrf_token %}
    <h1>客户</h1>
    <label>
        <span>名称:</span>
        <input type="text" name="name"/>
    </label>
    <label>
        <span>电话:</span>
        <input type="text" name="phone"/>
    </label>
    <label>
        <span>地址:</span>
        <input type="text" name="address"/>
    </label>
    <label>
        <span>备注:</span>
        <input type="text" name="note"/>
    </label>
    <label>
        <span>&nbsp;</span>
        <input type="submit" value="提交" class="button">
    </label>
</form>
{% endblock%}