{% extends 'table.html' %}

{% block table %}
<div class="module" id="changelist">
    <div id="toolbar">
        <div class="right">
            <a href="/home/customer/add">
                <button type="button" class="el-button el-button--primary el-button--small">
                    <span>新增</span>
                </button>
            </a>
        </div>
    </div>
    <div class="results">
        <table id="result_list">
            <thead>
            <th scope="col" class="sortable column-id">序号</th>
            <th scope="col" class="sortable column-name">名称</th>
            <th scope="col" class="sortable column-name">电话</th>
            <th scope="col" class="sortable column-name">地址</th>
            <th scope="col" class="sortable column-name">备注</th>
            <th scope="col">状态</th>
            <th scope="col">操作</th>
            </thead>
            {% for obj in object_list %}
            <tr>
                <td>{{obj.id}}</td>
                <td>{{obj.name}}</td>
                <td>{{obj.phone}}</td>
                <td>{{obj.address}}</td>
                <td>{{obj.note}}</td>
                <td><a> <input type="checkbox">停用 </a></td>
                <td><a> <input type="button">删除 </a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}