{% extends 'table.html' %}

{% block table %}
<div>
    <div class="top_tool_bar">
        <form method="get">
            {% csrf_token %}
            <input type="text" name="name" placeholder="搜索名称">
            <button type="submit">
                <span>搜索</span>
            </button>
        </form>
        <div class="right_buttons">
            <a href="/home/customer/add">
                <button type="button">
                    <span>新增</span>
                </button>
            </a>
        </div>
    </div>
    <div class="results">
        <table id="result_list">
            <thead>
            <th scope="col" class="sortable column-id">序号</th>
            <th scope="col" class="sortable column-name">名称</th>
            <th scope="col" class="sortable column-name">电话</th>
            <th scope="col" class="sortable column-name">地址</th>
            <th scope="col" class="sortable column-name">备注</th>
            <th scope="col">状态</th>
            <th scope="col">操作</th>
            </thead>
            {% for obj in object_list %}
            <tr>
                <td>{{ obj.id }}</td>
                <td>{{ obj.name }}</td>
                <td>{{ obj.phone }}</td>
                <td>{{ obj.address }}</td>
                <td>{{ obj.note }}</td>
                <td>
                    <a href="/home/customer/enable?id={{ obj.id }}">
                        {% if obj.enable %}
                        <input type="button" value="停用">
                        {% else %}
                        <input type="button" value="已停用">
                        {% endif %}
                    </a>
                </td>
                <td>
                    <a href="/home/customer/del?id={{ obj.id }}">
                        <input type="button" value="删除">
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}