{% extends 'base.html' %}

{% block content %}
<div id="main">
    <section class="el-container" style="height: 795px;">
        <aside class="el-aside menu" style="width: auto;">
            <div class="logo-wrap">
                <div class="left">
                    <span>库存系统</span>
                </div>
            </div>
            <ul role="menu" class="el-menu">
                <div class="el-menu">
                    {% for func in func_list %}
                    <li role="menuitem" class="el-menu-item" style="padding-left: 40px;">
                        <a href={{ func.1 }}>{{ func.0 }}</a>
                    </li>
                    {% endfor %}
                </div>
            </ul>
        </aside>
        <section class="el-container is-vertical">
            <header class="el-header navbar" style="height: auto; font-size: 12px; padding: 10px;">
                <div class="float-wrap">
                    <div class="right">
                        <div class="el-dropdown">
                            <button type="button"
                                    class="el-button el-button--default waves-effect el-dropdown-selfdefine"
                                    aria-haspopup="list" aria-controls="dropdown-menu-6544" role="button" tabindex="0">
                                <span><i class="fas fa-user"></i>demo<i
                                        class="el-icon-arrow-down el-icon--right"></i></span>
                            </button>
                        </div>
                    </div>
                </div>
            </header>
            <main>
                {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                <li style="color:#f00" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
                {% endif %}
                {% block list %}
                {% endblock %}
            </main>
        </section>
    </section>
</div><!-- #primary -->
{% endblock %}