{% extends 'form.html' %}

{% block form %}
<form method="post" class="basic-grey">
    {% csrf_token %}
    <h1>订单</h1>
    <label><span>订单编号：</span>
        {{ head.order_number }}
    </label>
    <label><span>销售：</span>
        {{ head.salesman }}
    </label>
    <label><span>客户：</span>
        {{ head.customer }}
    </label>
    <label>
        <span>木料：</span>
        <select name="wood">
            {% for m in wood_list %}
            <option value={{ m.id }}>{{ m.name }}</option>
            {%endfor%}
        </select>
        <input type="number" name="wood_count" placeholder="数量" onkeyup="value=value.replace(/[^\d]/g,'')"/>
    </label>
    <label>
        <span>桉木皮：</span>
        <select name="skin">
            <option value="">无</option>
            {% for m in skin_list %}
            <option value={{ m.id }}>{{ m.name }}</option>
            {%endfor%}
        </select>
        <input type="number" name="skin_count" placeholder="数量" onkeyup="value=value.replace(/[^\d]/g,'')"/>
    </label>
    <label>
        <span>桉木皮：</span>
        <select name="other_skin">
            <option value="">无</option>
            {% for m in skin_list %}
            <option value={{ m.id }}>{{ m.name }}</option>
            {%endfor%}
        </select>
        <input type="number" name="other_skin_count" placeholder="数量" onkeyup="value=value.replace(/[^\d]/g,'')"/>
    </label>
    <label>
        <span>纸张：</span>
        <input type="text" list="source" name="paper" autocomplete="off">
        <datalist id="source">
            {% for obj in paper_list %}
            <option value={{ obj }}>{{ obj }}</option>
            {%endfor%}
        </datalist>
        <input type="number" name="paper_count" placeholder="数量" onkeyup="value=value.replace(/[^\d]/g,'')"/>
    </label>
    <label>
        <span>纸张：</span>
        <input type="text" list="other_paper_source" name="other_paper" autocomplete="off">
        <datalist id="other_paper_source">
            {% for obj in paper_list %}
            <option value={{ obj }}>{{ obj }}</option>
            {%endfor%}
        </datalist>
        <input type="number" name="other_paper_count" placeholder="数量" onkeyup="value=value.replace(/[^\d]/g,'')"/>
    </label>
    <label>
        <span>钢板工艺：</span>
        <select name="technology">
            {% for m in technology_list %}
            <option value={{ m.id }}>{{ m.name }}</option>
            {%endfor%}
        </select>
    </label>
    <label><span>规格：</span>
        <select name="specification">
            {% for m in specification_list %}
            <option value={{ m.id }}>{{ m.name }}</option>
            {%endfor%}
        </select>
    </label>
    <label><span>包装：</span><input type="text" name="package" value=""/></label>
    <label><span>厚度：</span><input type="text" name="thickness" value=""/></label>
    <label><span>商标：</span><input type="text" name="trademark" value=""/></label>
    <label><span>打字：</span><input type="text" name="word" value=""/></label>
    <label><span>是否开槽：</span><input type="checkbox" name="grooving" value="True"/></label>
    <label><span>是否烘干：</span><input type="checkbox" name="drying" value="True"/></label>
    <label>
        <span>备注：</span>
        <textarea name="note"> </textarea>
    </label>
    <label>
        <span>&nbsp;</span>
        <input type="submit" value="提交" class="button">
    </label>

</form>
{% endblock%}