{% extends 'table.html' %}

{% block table %}
<div>
    <div class="top_tool_bar">
        <form method="get">
            {% csrf_token %}
            <input type="text" name="customer" placeholder="客户">
            <input type="text" name="skin" placeholder="桉木皮">
            <input type="text" name="wood" placeholder="木料">
            <input type="text" name="paper" placeholder="纸张">
            <button type="submit">
                <span>搜索</span>
            </button>
        </form>
        <div class="right_buttons">
            <a href="/home/order/add">
                <button type="button">
                    <span>新增</span>
                </button>
            </a>
        </div>
    </div>
    <div class="results" style="overflow:scroll;">
        <table id="result_list">
            <tr>
                <th scope="col" class="sortable column-id">序号</th>
                <th scope="col" class="sortable column-id">订单编号</th>
                <th scope="col" class="sortable column-name">客户</th>
                <th scope="col" class="sortable column-name">木料</th>
                <th scope="col" class="sortable column-name">桉木皮</th>
                <th scope="col" class="sortable column-name">纸张</th>
                <th scope="col" class="sortable column-name">钢板工艺</th>
                <th scope="col" class="sortable column-name">规格</th>
                <th scope="col" class="sortable column-name">包装</th>
                <th scope="col" class="sortable column-name">厚度</th>
<!--                <th scope="col" class="sortable column-name">打字</th>-->
<!--                <th scope="col" class="sortable column-name">商标</th>-->
                <th scope="col" class="sortable column-name">开槽</th>
                <th scope="col" class="sortable column-name">烘干</th>
<!--                <th scope="col" class="sortable column-name">销售</th>-->
<!--                <th scope="col" class="sortable column-name">下单时间</th>-->
<!--                <th scope="col" class="sortable column-name">交货时间</th>-->
                <th scope="col" class="sortable column-name">备注</th>
                <th scope="col">状态</th>
                <th scope="col">操作</th>
            </tr>
            {% for form in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ form.head_number.order_number }}</td>
                <td>{{ form.head_number.customer.name }}</td>
                <td>{{ form.wood }}({{ form.woodCount }})
                    {% if form.wood.count > 0 %}
                        ({{ form.wood.count }})
                    {% else %}
                        <span style="color: #f00">({{ form.wood.count }})</span>
                    {% endif %}
                </td>
                <td>
                    {% if form.skin %}
                        {{ form.skin }}({{ form.skinCount }}
                        {% if form.skin.count > 0 %}
                            ({{ form.skin.count }}))
                        {% else %}
                            <span style="color: #f00">({{ form.skin.count }}))</span>
                        {% endif %}
                    {% endif %}
                    {% if form.other_skin %}
                        <br>{{ form.other_skin }}({{ form.other_skin_count }}
                        {% if form.other_skin.count > 0 %}
                            ({{ form.other_skin.count }}))
                        {% else %}
                            <span style="color: #f00">({{ form.other_skin.count }}))</span>
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if form.paper %}
                        {{ form.paper }}({{ form.paperCount }})
                        {% if form.paper.count > 0 %}
                            ({{ form.paper.count }})
                        {% else %}
                            <span style="color: #f00">({{ form.paper.count }})</span>
                        {% endif %}
                    {% endif %}
                    {% if form.other_paper %}
                        <br>{{ form.other_paper }}({{ form.other_paper_count }})
                        {% if form.other_paper.count > 0 %}
                            ({{ form.other_paper.count }})
                        {% else %}
                            <span style="color: #f00">({{ form.other_paper.count }})</span>
                        {% endif %}
                    {% endif %}
                </td>
                <td>{{form.technology.name}}</td>
                <td>{{form.specifications.name}}</td>
                <td>{{form.packaging}}</td>
                <td>{{form.thickness}}</td>
<!--                <td>{{form.trademark}}</td>-->
<!--                <td>{{form.word}}</td>-->
                <td>
                    {% if form.is_grooving %}
                    是
                    {% else %}
                    否
                    {% endif %}
                </td>
                <td>
                    {% if form.is_drying %}
                    是
                    {% else %}
                    否
                    {% endif %}
                </td>
<!--                <td>{{ form.head_number.salesman.name }}</td>-->
<!--                <td>{{ form.head_number.order_date }}</td>-->
<!--                <td>{{ form.head_number.delivery_date }}</td>-->
                <td>
                    {{ form.note }}
                </td>
                <td>
                    {% if form.head_number.complete %}
                    <input type="button" value="已完成">
                    {% else %}
                    <a href="/home/order/sure?id={{ form.id }}">
                        {% if form.sure %}
                        <input type="button" value="已确认">
                        {% else %}
                        <input type="button" value="确认">
                        {% endif %}
                    </a>
                    {% endif %}
                </td>
                <td>
                    <a href="/home/order/head/view/{{ form.head_number.id }}/">
                        <input type="button" value="详情">
                    </a>

                    {% if not form.head_number.complete and not form.sure %}
                    <a href="/home/order/head/edit/{{ form.head_number.id }}/">
                        <input type="button" value="编辑">
                    </a>
                    <a href="/home/order/del?id={{ form.id }}">
                        <input type="button" value="删除">
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
