{% extends 'table.html' %}

{% block table %}
<div>
    <div class="top_tool_bar">
        <form method="get">
            {% csrf_token %}
            <input type="text" name="number" placeholder="订单编号">
            <input type="text" name="order_date" placeholder="下单时间">
            <button type="submit">
                <span>搜索</span>
            </button>
        </form>
        <div class="right_buttons">
            <a href="/home/order/add">
                <button type="button">
                    <span>新增</span>
                </button>
            </a>
        </div>
    </div>
    <div class="results" style="overflow:scroll;">
        <table id="result_list">
            <tr>
                <th scope="col" class="sortable column-id">序号</th>
                <th scope="col" class="sortable column-id">订单编号</th>
                <th scope="col" class="sortable column-name">下单时间</th>
                <th scope="col" class="sortable column-name">销售</th>
                <th scope="col" class="sortable column-name">客户</th>
                <th scope="col" class="sortable column-name">交货时间</th>
                <th scope="col" class="sortable column-name">备注</th>
                <th scope="col">状态</th>
                <th scope="col">操作</th>
            </tr>
            {% for form in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ form.order_number }}</td>
                <td>{{ form.order_date }}</td>
                <td>{{ form.salesman.name }}</td>
                <td>{{ form.customer.name }}</td>
                <td>{{ form.delivery_date }}</td>
                <td>{{ form.note }}</td>
                <td>
                    <a href="/home/order/head/complete?id={{ form.id }}">
                        {% if form.complete %}
                        <input type="button" value="已完成">
                        {% else %}
                        <input type="button" value="完成">
                        {% endif %}
                    </a>
                </td>
                <td>
                    <a href="/home/order/head/view/{{ form.id }}/">
                        <input type="button" value="详情">
                    </a>
                    {% if not form.complete %}
                    <a href="/home/order/add/{{ form.id }}/">
                        <input type="button" value="增加">
                    </a>
                    <a href="/home/order/head/edit/{{ form.id }}/">
                        <input type="button" value="编辑">
                    </a>
                    <a href="/home/order/head/del?id={{ form.id }}">
                        <input type="button" value="删除">
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}