{% extends 'form.html' %}

{% block extrahead %}
<script type="text/javascript">
    $(function() {
        $('#id_orders_table tbody tr').formset({
            // For inline formsets, be sure to set the prefix, as the default prefix
            // ('form') isn't correct.
            // Django appears to generate the prefix from the lowercase plural
            // name of the related model, with camel-case converted to underscores.
            prefix: 'ordered_items'
        })
    })
</script>
<style type="text/css">
    .delete-row {
        margin-left:5px;
    }

    /*表格样式*/
	table {
		width: 100%;
		background: #ccc;
		margin: 10px auto;
        white-space:nowrap;
		border-collapse: collapse;/*border-collapse:collapse合并内外边距(去除表格单元格默认的2个像素内外边距*/
	}
	th,td {
		height: 25px;
		line-height: 25px;
		text-align: center;
		border: 1px solid #ccc;
	}
	th {
		background: #eee;
		font-weight: normal;
	}
	td {
	    min-width:20px;
	    max-width:100%;
	}
	tr {
		background: #fff;
	}
	tr:hover {
		background: #cc0;
	}
	td a {
		color: #06f;
		text-decoration: none;
	}
	td a:hover {
		color: #06f;
		text-decoration: underline;
	}
</style>
{% endblock %}


{% block form %}
<form action="" method="post">
    {% csrf_token %}
    <div>
    <label><span>{{ form.order_number.label }}：</span>{{ form.order_number }}</label><br>
    <label><span>{{ form.order_date.label }}：</span>{{ form.order_date }}</label>
    <label><span>{{ form.delivery_date.label }}：</span>{{ form.delivery_date }}</label><br>
    <label><span>{{ form.salesman.label }}：</span>{{ form.salesman }}</label>
    <label><span>{{ form.customer.label }}：</span>{{ form.customer }}</label>
    </div>
    {{ formset.non_form_errors }}
    <h2>订单详情</h2>
    <div class="entry" style="overflow:scroll;">
        <label style="color:#f00">
            {% for dict in formset.errors %}
                {{ dict }}
            {% endfor %}
        </label>
        <table name="table" id="id_orders_table">
            <thead>
            <tr>
                <th scope="col">木料</th>
                <th scope="col">桉木皮</th>
                <th scope="col">纸张</th>
                <th scope="col">钢板工艺</th>
                <th scope="col">规格</th>
                <th scope="col">包装</th>
                <th scope="col">厚度</th>
                <th scope="col">打字</th>
                <th scope="col">商标</th>
                <th scope="col">开槽</th>
                <th scope="col">烘干</th>
                <th scope="col">备注</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for form in formset %}
            <tr id="{{ form.prefix }}-row">
                <td>
                    {{ form.id }}
                    {{ form.wood }}
                    {{ form.woodCount }}
                </td>
                <td>
                    {{ form.skin }}
                    {{ form.skinCount }}
                </td>
                <td>
                    {{ form.paper }} {{ form.paperCount }}<br>
                    {{ form.other_paper }} {{ form.other_paper_count }}
                </td>
                <td>
                    {{ form.technology }}
                </td>
                <td>
                    {{ form.specifications }}
                </td>
                <td>
                    {{ form.packaging }}
                </td>
                <td>
                    {{ form.thickness }}
                </td>
                <td>
                    {{ form.word }}
                </td>
                <td>
                    {{ form.trademark }}
                </td>
                <td>
                    {{ form.is_grooving }}
                </td>
                <td>
                    {{ form.is_drying }}
                </td>
                <td>
                    {{ form.note }}
                </td>
                <td>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        {{ formset.management_form }}
        <input type="submit" value="提交"/>
    </div>
</form>
{% endblock%}