{% extends 'home.html' %}

{% block list %}
<style>
/*表格样式*/
			table {
				width: 90%;
				background: #ccc;
				margin: 10px auto;
				border-collapse: collapse;/*border-collapse:collapse合并内外边距(去除表格单元格默认的2个像素内外边距*/
			}
			th,td {
				height: 25px;
				line-height: 25px;
				text-align: center;
				border: 1px solid #ccc;
			}
			th {
				background: #eee;
				font-weight: normal;
			}
			tr {
				background: #fff;
			}
			tr:hover {
				background: #cc0;
			}
			td a {
				color: #06f;
				text-decoration: none;
			}
			td a:hover {
				color: #06f;
				text-decoration: underline;
			}

    ul{border:0; margin:0; padding:0;}
    #pagination-flickr li{
border:0; margin:0; padding:0;
font-size:11px;
list-style:none;
}
#pagination-flickr a{
border:solid 1px #DDDDDD;
margin-right:2px;
}
#pagination-flickr .previous-off,
#pagination-flickr .next-off {
color:#666666;
display:block;
float:left;
font-weight:bold;
padding:3px 4px;
}
#pagination-flickr .next a,
#pagination-flickr .previous a {
font-weight:bold;
border:solid 1px #FFFFFF;
}
#pagination-flickr .active{
color:#ff0084;
font-weight:bold;
display:block;
float:left;
padding:4px 6px;
}
#pagination-flickr a:link,
#pagination-flickr a:visited {
color:#0063e3;
display:block;
float:left;
padding:3px 6px;
text-decoration:none;
}
#pagination-flickr a:hover{
border:solid 1px #666666;
}

</style>
<div id="container">
    <div class="flex" id="content">
        <style>
            #content {
                position: relative;
            }
            .object-tools {
                position: absolute;
                top: 16px;
                right: 20px;
                height: 50px;
                z-index: 2;
            }
            .object-tools .import_link, .object-tools .export_link {
                color: white !important;
            }
        </style>
        <div id="content-main">
            <div class="module" id="changelist">
                <div id="toolbar">
                    <form id="changelist-search" method="get">
                        {% csrf_token %}
                        <input type="text" autocomplete="off" name="q" placeholder="搜索标题" class="el-input__inner"
                               style="width:200px">
                        <button type="submit" class="el-button el-button--primary el-button--small">
                            <span>搜索</span>
                        </button>
                    </form>
                    <div class="right">
                        <a href="/home/order/add">
                        <button type="button" class="el-button el-button--primary el-button--small">
                            <span>新增</span>
                        </button>
                        </a>
                    </div>
                </div>
                <div class="results">
                    <table id="result_list">
                        <thead>
                        <th scope="col" class="sortable column-id">序号</th>
                        <th scope="col" class="sortable column-name">时间</th>
                        <th scope="col" class="sortable column-name">名称</th>
                        <th scope="col" class="sortable column-name">数量</th>
                        <th scope="col" class="sortable column-name">类型</th>
                        <th scope="col">状态</th>
                        <th scope="col">操作</th>
                        </thead>
                        {% for form in wood_form_list %}
                        <tr>
                            <td>{{form.id}}</td>
                            <td>{{form.arrive_time}}</td>
                            <td>{{form.name}}</td>
                            <td>{{form.count}}</td>
                            <td>{{form.type}}</td>
                            <td>
                                <a> <input type="checkbox">确认</a></td>
                            <td>
                                {% if form.order %}
                                <input type="button" value="关联订单">
                                {% else %}
                                <input type="button" value="删除">
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <nav aria-label="Page navigation">
                    <ul id="pagination-flickr">
                        <!--#上一页-->
                        {% if page_obj.has_previous %}
                        <li class="previous-off" aria-hidden="true">
                            <a href="?page={{ page_obj.previous_page_number }}">
                                &laquo;
                            </a>
                        </li>
                        {% endif %}
                        <!--中间的页码，如果是当前页，添加active属性-->
                        {% for page in paginator.page_range %}
                        {% if page == page_obj.number %}
                        <li class="active">
                            <a href="?page={{ page }}">{{ page }}</a>
                        </li>
                        {% else %}
                        <li><a href="?page={{ page }}">{{ page }}</a></li>
                        {% endif %}
                        {% endfor %}
                        <!--#下一页-->
                        {% if page_obj.has_next %}
                        <li class="next" aria-hidden="true">
                            <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                &raquo;
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>


{% endblock %}