{% extends 'table.html' %}

{% block table %}
<div>
    <div class="top_tool_bar">
        <form method="get">
            {% csrf_token %}
            <input type="text" name="name" placeholder="搜索纸张">
            <button type="submit">
                <span>搜索</span>
            </button>
        </form>
        <div class="right_buttons">
            <a href="/home/paper/form/add">
                <button type="button">
                    <span>新增</span>
                </button>
            </a>
        </div>
    </div>
    <div class="results">
        <table id="result_list">
            <tr>
                <th scope="col" class="sortable column-id">序号</th>
                <th scope="col" class="sortable column-name">时间</th>
                <th scope="col" class="sortable column-name">纸张</th>
                <th scope="col" class="sortable column-name">数量</th>
                <th scope="col" class="sortable column-name">类型</th>
                <th scope="col">状态</th>
                <th scope="col">操作</th>
            </tr>
            {% for form in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ form.arrive_date }}</td>
                <td>{{ form.name }}</td>
                <td>{{ form.count }}</td>
                <td>
                    {% if form.type == '1' %}
                    入库
                    {% elif form.type == '2' %}
                    出库
                    {% elif form.type == '3' %}
                    损耗
                    {% else %}
                    订单
                    {% endif %}
                </td>
                <td>
                    {% if not form.order %}
                    <a href="/home/paper/form/sure?id={{ form.id }}">
                        {% if form.sure %}
                        <input type="button" value="已确认">
                        {% else %}
                        <input type="button" value="确认">
                        {% endif %}
                    </a>
                    {% endif %}
                </td>
                <td>
                    {% if form.order %}
                    <a href="/home/order/head/view/detail/{{ form.order.id }}/">
                        <input type="button" value="关联订单">
                    </a>
                    {% else %}
                    <a href="/home/paper/form/del?id={{ form.id }}">
                        <input type="button" value="删除">
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
