{% extends 'table.html' %}

{% block table %}
<div id="toolbar">
    <form id="changelist-search" method="get">
        {% csrf_token %}
        <input type="text" autocomplete="off" name="name" placeholder="搜索标题" class="el-input__inner"
               style="width:200px">
        <button type="submit" class="el-button el-button--primary el-button--small">
            <span>搜索</span>
        </button>
    </form>
</div>
<div class="results">
    <table id="result_list">
        <tr>
            <th scope="col" class="sortable column-id">序号</th>
            <th scope="col" class="sortable column-name">时间</th>
            <th scope="col" class="sortable column-name">名称</th>
            <th scope="col" class="sortable column-name">数量</th>
            <th scope="col" class="sortable column-name">类型</th>
            <th scope="col">状态</th>
            <th scope="col">操作</th>
        </tr>
        {% for form in object_list %}
        <tr>
            <td>{{ form.id }}</td>
            <td>{{ form.arrive_date }}</td>
            <td>{{ form.name.name }}</td>
            <td>{{ form.count }}</td>
            <td>{{ form.type }}</td>
            <td>
                <a>确认<input type="checkbox"></a>
                <a>完成<input type="checkbox"></a>
            </td>
            <td>
                {% if form.order %}
                <input type="button" value="关联订单">
                {% else %}
                <input type="button" value="删除">
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}