{% extends 'form.html' %}

{% block form %}
<form method="post" action="/home/paper/form/submit/" class="basic-grey">
    {% csrf_token %}
    <h1>纸张出入记录</h1>
    <label>
        <span>到货时间：</span>
        <input type="date" name="time" value="2021-05-24"/>
    </label><br>
    <label>
        <span>纸张：</span>
        <select name="name">
            {% for obj in object_list %}
            <option value={{ obj.id }}>{{ obj.name }}-{{ obj.type }}-{{ obj.factory }}</option>
            {%endfor%}
        </select>
    </label>
    <label>
        <span>数量：</span>
        <input type="number" name="count" onkeyup="value=value.replace(/[^\d]/g,'')"/>
    </label>
    <label>
        <span>类型：</span>
        <select name="type">
            {% for t in types %}
            <option value={{ t.0 }}>{{ t.1 }}</option>
            {%endfor%}
        </select>
    </label>
    <label>
        <span>备注：</span>
        <input type="text" name="note"/></label>
    <label>
        <span>确认：</span>
        <input type="checkbox" name="complete" value="True"/>
    </label><br>
    <label>
        <span></span>
        <input type="submit" value="提交">
    </label>
</form>
{% endblock%}