{% extends 'form.html' %}

{% load order_extras %}

{% block form %}
<form method="post" action="/home/skin/form/submit/" class="basic-grey">
    {% csrf_token %}
    <h1>桉木皮出入记录</h1>
    <label>
        <span>时间： </span>
        <input type="date" name="time" value="{% default_time %}"/>
    </label><br>
    <label>
        <span>桉木皮：</span>
        <select name="name">
            {% for obj in object_list %}
            <option value={{ obj.id }}>{{ obj.name }}</option>
            {%endfor%}
        </select>
    </label>
    <label>
        <span>数量：</span>
        <input type="number" name="count" onkeyup="value=value.replace(/[^\d]/g,'')"/>
    </label>
    <label>
        <span>类型：</span>
        <select name="type">
            {% for t in types %}
            <option value={{ t.0 }}>{{ t.1 }}</option>
            {%endfor%}
        </select>
    </label>
    <label>
        <span>备注：</span>
        <input type="text" name="note"/>
    </label>
    <label>
        <span>&nbsp;</span>
        <input type="submit" value="提交" class="button">
    </label>
</form>
{% endblock%}