{% extends 'form.html' %}

{% block form %}
<form method="post" action="/home/wood/submit/" class="basic-grey">
    {% csrf_token %}
    <h1>木料</h1>
    <label><span>名称：</span><input type="text" name="name"/></label>
    <label>
        <span>面数：</span>
        <select name="surface">
            <option value=1>1</option>
            <option value=2>2</option>
        </select>
    </label>
    <label><span>厂家：</span><input type="text" name="factory"/></label>
    <label><span>备注：</span><input type="text" name="note"/></label>
    <label>
        <span>&nbsp;</span>
        <input type="submit" value="提交" class="button">
    </label>
</form>
{% endblock%}