{% extends 'table.html' %}

{% block table %}
<div>
    <div class="top_tool_bar">
        <form method="get">
            {% csrf_token %}
            <input type="text" autocomplete="off" name="name" placeholder="搜索名称">
            <button type="submit">
                <span>搜索</span>
            </button>
        </form>
    </div>
    <div class="results">
        <table id="result_list">
            <tr>
                <th scope="col" class="sortable column-id">序号</th>
                <th scope="col" class="sortable column-name">时间</th>
                <th scope="col" class="sortable column-name">名称</th>
                <th scope="col" class="sortable column-name">数量</th>
                <th scope="col" class="sortable column-name">类型</th>
                <th scope="col">状态</th>
                <th scope="col">操作</th>
            </tr>
            {% for form in object_list %}
            <tr>
                <td>{{ form.id }}</td>
                <td>{{ form.arrive_date }}</td>
                <td>{{ form.name.name }}</td>
                <td>{{ form.count }}</td>
                <td>
                    {% if form.type == '1' %}
                    入库
                    {% elif form.type == '2' %}
                    出库
                    {% elif form.type == '3' %}
                    损耗
                    {% else %}
                    订单
                    {% endif %}
                </td>
                <td>
                    <a href="/home/wood/form/sure?id={{ form.id }}">
                        {% if form.sure %}
                        <input type="button" value="已确认">
                        {% else %}
                        <input type="button" value="确认">
                        {% endif %}
                    </a>
                </td>
                <td>
                    {% if form.order %}
                    <input type="button" value="关联订单">
                    {% else %}
                    <a href="/home/wood/form/del?id={{ form.id }}">
                        <input type="button" value="删除">
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <nav aria-label="Page navigation">
        <ul id="pagination-flickr">
            <!--#上一页-->
            {% if page_obj.has_previous %}
            <li class="previous-off" aria-hidden="true">
                <a href="?page={{ page_obj.previous_page_number }}">
                    &laquo;
                </a>
            </li>
            {% endif %}
            <!--中间的页码，如果是当前页，添加active属性-->
            {% for page in paginator.page_range %}
            {% if page == page_obj.number %}
            <li class="active">
                <a href="?page={{ page }}">{{ page }}</a>
            </li>
            {% else %}
            <li><a href="?page={{ page }}">{{ page }}</a></li>
            {% endif %}
            {% endfor %}
            <!--#下一页-->
            {% if page_obj.has_next %}
            <li class="next" aria-hidden="true">
                <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    &raquo;
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}