{% extends 'table.html' %}

{% block table %}
<div class="module" id="changelist">
    <div id="toolbar" style="display:flex">
        <form id="changelist-search" method="get">
            {% csrf_token %}
            <input type="text" autocomplete="off" name="q" placeholder="搜索标题" class="el-input__inner"
                   style="width:200px">
            <button type="submit" class="el-button el-button--primary el-button--small">
                <span>搜索</span>
            </button>
        </form>
        <div class="right">
            <a href="/home/wood/add">
                <button type="button" class="el-button el-button--primary el-button--small">
                    <span>新增</span>
                </button>
            </a>
            <a href="/home/wood/form/list">
                <button type="button" class="el-button el-button--primary el-button--small">
                    <span>出入单</span>
                </button>
            </a>
        </div>
    </div>
    <div class="results">
        <table id="result_list">
            <thead>
            <th scope="col" class="sortable column-id">序号</th>
            <th scope="col" class="sortable column-name">名称</th>
            <th scope="col" class="sortable column-name">数量</th>
            <th scope="col" class="sortable column-name">备注</th>
            <th scope="col">状态</th>
            <th scope="col">操作</th>
            </thead>
            {% for obj in object_list %}
            <tr>
                <td>{{obj.id}}</td>
                <td>{{obj.name}}</td>
                <td>{{obj.count}}</td>
                <td>{{obj.note}}</td>
                <td>
                    <a>停用<input type="checkbox" checked={{ obj.enable }}></a></td>
                <td>
                    <a href="/home/wood/form/list">
                        <input type="button" value="使用详情">
                    </a>
                    <a href="/home/wood/form/add">
                        <input type="button" value="新增订单">
                    </a>
                    <a href="/home/wood/form/del">
                        <input type="button" value="删除">
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}