{% extends 'form.html' %}

{% block form %}
<form method="post" class="basic-grey">
    {% csrf_token %}
    <h1>木料</h1>
    <label style="color:#f00">{{ form.errors.name }}</label>
    <label><span>{{ form.name.label }}：</span>{{ form.name }}</label>
    <label><span>{{ form.factory.label }}：</span>{{ form.factory }}</label>
    <label><span>{{ form.note.label }}：</span>{{ form.note }}</label>
    <label><span>{{ form.count.label }}：</span>{{ form.count }}</label>
    <label>
        <span>&nbsp;</span>
        <input type="submit" value="提交" class="button">
    </label>
</form>
{% endblock%}